<div class="container">
  <div class="form-container">
    <!--Form  -->

    <form [formGroup]="signupForm" (submit)="submitForm()" class="black-border">
      <h2 class="text-center">Register</h2>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Username</div>
          </div>
          <input
            class="form-control"
            id="username"
            type="text"
            formControlName="username"
          />
        </div>
        <div
          class="error"
          *ngIf="username.errors?.minlength"
        >
          Username should be atleast 3 characters long!
        </div>
        <div class="error" *ngIf="username.errors?.maxlength">
          Username should not be longer than 40 characters!
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">E-mail</div>
          </div>
          <input
            class="form-control"
            id="email"
            type="email"
            formControlName="email"
          />
        </div>
        <div
          *ngIf=
            "email.errors?.pattern"
          class="error"
        >
          Please check e-mail address format!
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Password</div>
          </div>
          <input
            class="form-control"
            id="password"
            type="password"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="password.errors?.pattern"
          class="error"
        >
          Password should be at least 8 characters long and contain at least one
          digit!
        </div>
        <div *ngIf="password.errors?.maxlength" class="error">
          Password should not be longer than 50 characters!
        </div>
      </div>
      <div class="form-group">
        <a routerLink="/login">Back to login</a>
        <div class="float-right">
          <button class="btn btn-primary" [disabled]="!signupForm.valid">
            Register
          </button>
        </div>
      </div>
    </form>

    <!-- End Form -->
  </div>
</div>
